*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Graphik", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #fff;
  color: $color_1;
  font-family: "Graphik", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

img {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

section {
  padding: 100px 0;
}

::placeholder {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

.title {
  font-size: 48px;
  font-weight: 400;
  &_h1 {
    font-size: 74px;
    font-weight: 700;
  }
  &_h3 {
    font-size: 20px;
    font-weight: 700;
  }
}

.text {
  font-size: 18px;
  color: $color_2;
  &_big {
    font-size: 28px;
  }
}

.top {
  max-width: 550px;
  &_center {
    text-align: center;
    margin: 0 auto;
  }
  &_white {
    color: #fff;
    .top__title,
    .top__text {
      color: #fff;
    }
  }
  &__title {
    margin-bottom: 17px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
  border-radius: 35px;
  width: fit-content;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  background-color: $primary_color;
  border: 2px solid $primary_color;
  text-decoration: none !important;
  transition: 0.3s;
  &:hover {
    color: $primary_color;
    background-color: #fff;
  }
  &_bold {
    font-weight: 700;
    border-width: 3px;
  }
  &_center {
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &_row {
    flex-direction: row;
    text-align: left;
  }
  &__title {
    line-height: 1.4;
  }
  &__text {
    font-size: 18px;
    line-height: 1.4;
  }
}

// Video Player
.video_player {
  &__block {
    position: relative;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden;
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
      box-shadow: 0px 10px 20px rgba($color_1, 0.4);
    }
  }
  &__btn_img {
    display: block;
  }
  &__img {
    display: block;
    border-radius: 45px;
    box-shadow: 0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15);
  }
}

// Popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba($color_1, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(1000%);
  transition: 0.5s;
  transition: 0s;
  &__inner {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    filter: invert(1);
  }
  &__video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin: 100px 0;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    background-color: #fff;
  }
  &__video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &_active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s, transform 0s;
    .popup__video {
      opacity: 1;
      transform: scale(1);
    }
  }
}

// Form
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border: 1px solid #dddddd;
  border-radius: 20px;
  &__title {
    text-align: center;
    margin: 0 auto;
  }
  &__input_box {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
    margin: 20px 0;
  }
  &__input {
    flex: 1;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
  }
  &__textarea {
    flex: 1;
    height: 190px;
    padding: 20px 30px;
    font-size: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
  }
  &__btn {
    padding: 15px 40px;
  }
}

.list {
  list-style-type: disc;
  padding-left: 30px;
}

// Social
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 24px;
  &__item {
    display: block;
  }
  &__icon {
    display: block;
    width: 40px;
    height: 40px;
  }
}

// Hidden
.hidden {
  height: 0px;
  overflow: hidden;
  transition: 1s;
}

// Client
.client {
  display: flex;
  align-items: center;
  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13.5px;
  }
  &__avatar_img {
    display: block;
  }
  &__info {
    line-height: 1.4;
  }
  &__name {
    font-weight: 700;
  }
}

// Price
.price {
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -5px;
  }
  &__col {
    margin: 0 5px;
  }
  &__value {
    font-size: 74px;
  }
  &__currency {
    font-weight: 700;
    font-size: 20px;
    text-align: left;
  }
  &__period {
    text-align: left;
    text-transform: capitalize;
  }
}

// Map
.map {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  background-color: rgba($primary_color, 0.1);
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
